
        .bss-lock-passcode-container-5266.page-width.bsscommerce-passcode-container .bss-commerce-passcode-container-2 {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            margin-top: 16px;
        }
        .bss-lock-passcode-container-5266 .bss-commerce-passcode-input-label {
            margin-bottom: 4px;
            display: flex;
            width: 100%;
            justify-content: flex-start;
            font-size: 14px;
            color: rgba(0, 0, 0, 1);
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
        }

        .bss-lock-passcode-container-5266.page-width #bsscommerce-ltap-password {
            display: flex;
            flex-direction: inherit;
            row-gap: 6px;
            column-gap: 6px;
            max-width: 100%;
            max-height: 200px;
            align-items: center;
            height: 42px;
        }
        .bss-lock-passcode-container-5266 .bss-password-form-wrapper {
            display: flex;
            align-items: center;
            border: 1px solid;
            border-color: rgba(0, 0, 0, 1);
            border-radius: 5px;
            overflow: hidden;
            background-color: #fff;
            margin-right: 6px;
            flex: 1;
            justify-content: space-between;
        }
        .bss-lock-passcode-container-5266.page-width.bsscommerce-passcode-container .bss-password-form-wrapper {
            width: 335px;
            max-width: 100%;
            max-height: 200px;
            height: 100%;
        }
        .bss-lock-passcode-container-5266 #bsscommerce-password {
            padding: 8px 0 8px 10px;
            border-radius: 5px;
            font-size: 14px;
            border: none;
            margin-right: 5px;
            box-shadow: none;
            outline: none;
        }
        .bss-lock-passcode-container-5266.page-width.bsscommerce-passcode-container #bsscommerce-password {
            width: 335px;
        }    
        .bss-lock-passcode-container-5266 .toggle-passcode-input {
            background-color: 
            transparent; 
            border: none; 
            line-height: 0; 
            padding: 8px; 
            cursor: pointer; 
            fill: #BABEC3;
        }
        .bss-lock-passcode-container-5266 #bsscommerce-password-submit {
            color: rgba(255, 255, 255, 1) !important;
            background-color: rgba(0, 0, 0, 1) !important;
            border: 1px solid #ccc;
            padding: 5px 15px;
            border-radius: 5px;
            cursor: pointer;
            height: 42px;
            font-size: 14px;
            font-weight: bold;
        }
        .bss-lock-passcode-container-5266.page-width.bsscommerce-passcode-container #bsscommerce-password-submit {
            max-height: 200px;
            max-width: 100%;
            width: 79px;
        }                
    
        .bss-lock-message-element-5266 {
            font-size: 14px !important;
            font-weight: normal !important;
            font-style: normal !important;
            text-decoration: none !important;
            text-align: center !important;
            color: rgba(0, 0, 0, 1) !important;
            display: inline-block !important;
            font-family: inherit !important;
        }

        
        
    undefined.bss-lock-passcode-container-5266 {}
        header [class*="bss-product-lock"] { display: none !important; } 
    
        .bss-lock-passcode-container-5423.page-width.bsscommerce-passcode-container .bss-commerce-passcode-container-2 {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            margin-top: 16px;
        }
        .bss-lock-passcode-container-5423 .bss-commerce-passcode-input-label {
            margin-bottom: 4px;
            display: flex;
            width: 100%;
            justify-content: flex-start;
            font-size: 14px;
            color: rgba(0, 0, 0, 1);
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
        }

        .bss-lock-passcode-container-5423.page-width #bsscommerce-ltap-password {
            display: flex;
            flex-direction: inherit;
            row-gap: 6px;
            column-gap: 6px;
            max-width: 100%;
            max-height: 200px;
            align-items: center;
            height: 42px;
        }
        .bss-lock-passcode-container-5423 .bss-password-form-wrapper {
            display: flex;
            align-items: center;
            border: 1px solid;
            border-color: rgba(0, 0, 0, 1);
            border-radius: 5px;
            overflow: hidden;
            background-color: #fff;
            margin-right: 6px;
            flex: 1;
            justify-content: space-between;
        }
        .bss-lock-passcode-container-5423.page-width.bsscommerce-passcode-container .bss-password-form-wrapper {
            width: 335px;
            max-width: 100%;
            max-height: 200px;
            height: 100%;
        }
        .bss-lock-passcode-container-5423 #bsscommerce-password {
            padding: 8px 0 8px 10px;
            border-radius: 5px;
            font-size: 14px;
            border: none;
            margin-right: 5px;
            box-shadow: none;
            outline: none;
        }
        .bss-lock-passcode-container-5423.page-width.bsscommerce-passcode-container #bsscommerce-password {
            width: 335px;
        }    
        .bss-lock-passcode-container-5423 .toggle-passcode-input {
            background-color: 
            transparent; 
            border: none; 
            line-height: 0; 
            padding: 8px; 
            cursor: pointer; 
            fill: #BABEC3;
        }
        .bss-lock-passcode-container-5423 #bsscommerce-password-submit {
            color: rgba(255, 255, 255, 1) !important;
            background-color: rgba(0, 0, 0, 1) !important;
            border: 1px solid #ccc;
            padding: 5px 15px;
            border-radius: 5px;
            cursor: pointer;
            height: 42px;
            font-size: 14px;
            font-weight: bold;
        }
        .bss-lock-passcode-container-5423.page-width.bsscommerce-passcode-container #bsscommerce-password-submit {
            max-height: 200px;
            max-width: 100%;
            width: 79px;
        }                
    
        .bss-lock-message-element-5423 {
            font-size: 14px !important;
            font-weight: normal !important;
            font-style: normal !important;
            text-decoration: none !important;
            text-align: center !important;
            color: rgba(0, 0, 0, 1) !important;
            display: inline-block !important;
            font-family: inherit !important;
        }

        
        
    undefined.bss-lock-passcode-container-5423 {}
        header [class*="bss-product-lock"] { display: none !important; } 
    
        .bss-lock-passcode-container-5449.page-width.bsscommerce-passcode-container .bss-commerce-passcode-container-2 {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            margin-top: 16px;
        }
        .bss-lock-passcode-container-5449 .bss-commerce-passcode-input-label {
            margin-bottom: 4px;
            display: flex;
            width: 100%;
            justify-content: flex-start;
            font-size: 14px;
            color: rgba(0, 0, 0, 1);
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
        }

        .bss-lock-passcode-container-5449.page-width #bsscommerce-ltap-password {
            display: flex;
            flex-direction: inherit;
            row-gap: 6px;
            column-gap: 6px;
            max-width: 100%;
            max-height: 200px;
            align-items: center;
            height: 42px;
        }
        .bss-lock-passcode-container-5449 .bss-password-form-wrapper {
            display: flex;
            align-items: center;
            border: 1px solid;
            border-color: rgba(0, 0, 0, 1);
            border-radius: 5px;
            overflow: hidden;
            background-color: #fff;
            margin-right: 6px;
            flex: 1;
            justify-content: space-between;
        }
        .bss-lock-passcode-container-5449.page-width.bsscommerce-passcode-container .bss-password-form-wrapper {
            width: 335px;
            max-width: 100%;
            max-height: 200px;
            height: 100%;
        }
        .bss-lock-passcode-container-5449 #bsscommerce-password {
            padding: 8px 0 8px 10px;
            border-radius: 5px;
            font-size: 14px;
            border: none;
            margin-right: 5px;
            box-shadow: none;
            outline: none;
        }
        .bss-lock-passcode-container-5449.page-width.bsscommerce-passcode-container #bsscommerce-password {
            width: 335px;
        }    
        .bss-lock-passcode-container-5449 .toggle-passcode-input {
            background-color: 
            transparent; 
            border: none; 
            line-height: 0; 
            padding: 8px; 
            cursor: pointer; 
            fill: #BABEC3;
        }
        .bss-lock-passcode-container-5449 #bsscommerce-password-submit {
            color: rgba(255, 255, 255, 1) !important;
            background-color: rgba(0, 0, 0, 1) !important;
            border: 1px solid #ccc;
            padding: 5px 15px;
            border-radius: 5px;
            cursor: pointer;
            height: 42px;
            font-size: 14px;
            font-weight: bold;
        }
        .bss-lock-passcode-container-5449.page-width.bsscommerce-passcode-container #bsscommerce-password-submit {
            max-height: 200px;
            max-width: 100%;
            width: 79px;
        }                
    
        .bss-lock-message-element-5449 {
            font-size: 14px !important;
            font-weight: normal !important;
            font-style: normal !important;
            text-decoration: none !important;
            text-align: center !important;
            color: rgba(0, 0, 0, 1) !important;
            display: inline-block !important;
            font-family: inherit !important;
        }

        
        
    undefined.bss-lock-passcode-container-5449 {}
        header [class*="bss-product-lock"] { display: none !important; } 
    .product__info:has(.bss-lock-element) .quantity-selector{ cursor: not-allowed; opacity: .5; pointer-events: none }.product__info:has(.bss-lock-element) [id*='AddToCart'] { cursor: not-allowed !important; opacity: .5 !important; pointer-events: none !important; }.product__info:has(.bss-lock-element) .shopify-payment-button__button { cursor: not-allowed !important; opacity: .5 !important; pointer-events: none !important; }.drawer__content:has(.bss-lock-element) .product-form__quantity{ display: none }.drawer__content:has(.bss-lock-element) [id*='AddToCart'] { cursor: not-allowed !important; opacity: .5 !important; pointer-events: none !important; }.drawer__content:has(.bss-lock-element) .shopify-payment-button__button { cursor: not-allowed !important; opacity: .5 !important; pointer-events: none !important; }
        .bss-hide-atc + * {
            display: none !important;
        }
			.bss-lock-hidden { display: none; }
			script#bss-behavior-script { display: none !important }
		

